<div>
  <section>
    <span>Personal profiles</span>

    <button class="hf-column hf-p10 hf-m5 swp-button">
      <span>Facebook</span>
      <!-- <span>Polaroid and film cosplay photography</span> -->
    </button>
    <button class="hf-column hf-p10 hf-m5 swp-button">
      <span>Instagram</span>
      <!-- <span>Polaroid and film cosplay photography</span> -->
    </button>
  </section>
  <section>
    <span>Photographic projects</span>

    <button class="hf-column hf-p10 hf-m5 swp-button">
      <span>Pholayider</span>
      <!-- <span>Polaroid and film cosplay photography</span> -->
    </button>
    <button class="hf-column hf-p10 hf-m5 swp-button">
      <span>Eraclea Insider</span>
      <!-- <span>Polaroid and film cosplay photography</span> -->
    </button>
    <button class="hf-column hf-p10 hf-m5 swp-button">
      <span>Bellowsgraphy</span>
      <!-- <span>Polaroid and film cosplay photography</span> -->
    </button>
  </section>
  <section>
    <span>Other accounts</span>

    <button class="hf-column hf-p10 hf-m5 swp-button">
      <span>Spotify</span>
      <!-- <span>Polaroid and film cosplay photography</span> -->
    </button>
    <button class="hf-column hf-p10 hf-m5 swp-button">
      <span>Steam</span>
      <!-- <span>Polaroid and film cosplay photography</span> -->
    </button>
    <button class="hf-column hf-p10 hf-m5 swp-button">
      <span>MyAnimeList</span>
      <!-- <span>Polaroid and film cosplay photography</span> -->
    </button>
    <button class="hf-column hf-p10 hf-m5 swp-button">
      <span>GitHub</span>
      <!-- <span>Polaroid and film cosplay photography</span> -->
    </button>
    <button class="hf-column hf-p10 hf-m5 swp-button">
      <span>LinkedIn</span>
      <!-- <span>Polaroid and film cosplay photography</span> -->
    </button>
  </section>
</div>
